.aboutContainer {
	min-height: 100%;
	padding: 5%;
	box-sizing: border-box;

}

.aboutContent {
	background-color: var(--dark);
	min-height: 100%;
	padding: 2%;
	box-sizing: border-box;
}

.aboutContent > * {
	padding: 10px;
	min-height: 20vh;
}

.aboutBrief {
	line-height: 200%;
}

.aboutContent > *:nth-child(odd){
	background-color: var(--light);
}
.aboutContent > *:nth-child(even){
	background-color: var(--normal);
}

.aboutHistory > p,
.aboutServices > p,
.aboutTools > p {
	padding: 1%;
	padding-bottom: 3%;
}


.serviceItem, .toolItem {
	padding: 1%;

}

.aboutServices > .row > .column > ul,
.aboutTools > .row > .column > ul {
	width: 100%;
	min-height: 50vh;
	list-style: none;

}

.aboutServices > .row > .column > ul > li,
.aboutTools > .row > .column > ul > li  {
	width: 100%;


}


@media only screen and (min-width: 600px) {
	/* For tablets: */

}

@media only screen and (min-width: 768px) {
	/* For desktop: */

	.aboutContent {
		padding: 1%;
	}

	.aboutBrief {
		line-height: 300%;
		text-align: center;
	}
	

	.aboutHistory > p,
	.aboutServices > p {
		max-width: 70%;
		padding: 1%;
		padding-bottom: 1%;
	}
}
