.flex-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.appmain {
	flex: 1;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.appmain > .column {
	height: 100%;
	width: 100%;
}

.double-column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.column {
		flex: 1;
	}

	.double-column {
		flex: 2;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */

	.column {
		flex: 1;
	}

	.double-column {
		flex: 2;
	}
}
