/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


 :root {
	--accent: #737df3;
	--accent-dark: #000d8a;
	--black: #000;
	--white: #f1f1f1;
	--gray: #7b7b7b;
	--gray-light: #999999;
	--gray-dark: #4b4b4b;
	--gray-darker: #2e2e2e;
	--gray-gradient: rgba(var(--black), 100%), var(--gray-dark);
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);

	--theme-0: #f8f9fa;
	--theme-50: #eaecf7;
	--theme-100: #d4d8ee;
	--theme-200: #aab2de;
	--theme-300: #7f8bcd;
	--theme-400: #5564bd;
	--theme-500: #3c4a9a;
	--theme-600: #344186;
	--theme-700: #2d3773;
	--theme-800: #252e5f;
	--theme-900: #1d244b;
	--theme-950: #191f41;
	--theme-1000: #242424;

	color-scheme: light dark;
	color: var(--theme-0);
	background-color: var(--theme-1000);
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff");
	
	/* Latin glyphs */
}

@font-face {
	font-family: "combinedNoto";
	src: url("/fonts/NotoSans-VariableFont_wdth,wght.woff2");
	unicode-range: U+000-5FF;
	/* Latin glyphs */
}


@font-face {
	font-family: "combinedNoto";
	src: url("/fonts/NotoSansJP-VariableFont_wght.woff2");
	unicode-range: U+3000-9FFF, U+ff??;
	/* Japanese glyphs */
}



body {
	font-family: "combinedNoto", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--white);
	line-height: 1.2;
	font-family: "combinedNoto";
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-dark));
	color: rgb(var(--white));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}

	nav>.social-links {
		display: none;
	}

	.projectCardContainer {
		
		section {
			width: 100% !important; 
		}
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}


@media (prefers-color-scheme: light) {
	:root {
		color: var(--theme-1000);
		background-color: var(--theme-0);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 0.5rem 0;
		color: var(--theme-1000);
		line-height: 1.2;
	}

}