@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  color: var(--text);
}

#root {
	width: 100vw;
	height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html {
  min-height: 100vh;
}

.bg-primary {
	background-color: var(--primary);
}

.bg-normal {
	background-color: var(--normal);
}

.bg-white {
	background-color: var(--white);
}

.bg-black {
	background-color: var(--black);
}



.bg-light {
	background-color: var(--light);
}

.bg-lighter {
	background-color: var(--lighter);
}

.bg-lightest {
	background-color: var(--lightest);
}

.bg-dark {
	background-color: var(--dark);
}

.bg-darker {
	background-color: var(--darker);
}

.bg-darkest {
	background-color: var(--darkest);
}

.expand-to-parent-height {
	height: 100%;
}

.expand-to-parent-width {
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--text);
}