.companyHeader {
	width: 100%;
	max-width: 300px;
}

nav .column {
	display: flex;
	justify-content: center;
}

nav {
	padding: 15px;
}

.active {
	font-weight: 900;
}

ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-height: 100px;
}

ul li {
	padding: 5px;
	margin: 2px;
	background-color: var(--darker);
}

.navwidgets {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}

.navwidgets > * {
	display: flex;
}

.navwidgets > .row > .column {
	flex-basis: 33%;
}

.navwidgets > .row > .column > * {
	display: flex;
}