nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
}



img, source {
	width: auto;
	height: 100%;
	max-height: 75px;
}


.navwidgets, .navmenu, .navheader {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	justify-items: center;
	height: 100%;

}

.navwidgets > *,
.navmenu > *,
.navheader > * {
	padding: 5px;
}



nav > header > a {
	height: 100%;
}

.active {
	font-weight: 900;
}

.navmenu > ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

li {
	background-color: var(--dark);
	padding: 2%;
}
