nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	height: 6vh;
	padding: 0.5%;
}

nav > * {
	height: 100%;
}

img, source {
	width: auto;
	height: 100%;
}


.navmenu {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navheader {
	display: flex;
	align-items: center;
	height: 100%;
}

nav > header > a {
	height: 100%;
}

.active {
	font-weight: 900;
}

.navmenu > ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

li {
	background-color: var(--dark);
	padding: 2%;
}

.navwidgets {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	justify-items: center;
}

.navwidgets > * {
	padding: 15px;
}