---
import Layout from "../layouts/BlogPost.astro";
import aboutHeader from "../assets/images/headers/AstroAboutHeader.png";
---

<Layout
	title="About BigfootDS"
	description="Learn about what BigfootDS is, how it started, who is involved, and more. BigfootDS is an Australian studio that - nowadays - does software development. But it wasn't always that way!"
	pubDate={new Date()}
	heroImage={aboutHeader.src}
>
	BigfootDS (or Bigfoot Design Studios, and officially as BigfootDS PTY LTD)
	is an Australian-made multimedia studio.
	<br /><br />
	...
	<br /><br />
	It's actually just one dude - a guy named Alex!
	<hr />
	<hr />
	<hr />
	<h2>In Brief</h2>
	<div class="aboutContent bg-blue-normal">
		<p>
			BigfootDS was created (unofficially) as early as 2012, performing
			graphic design on the Sunshine Coast of Queensland, Australia.
		</p>
		<p>
			After a while, BigfootDS was created officially in 2015 as a game
			development studio in Sydney of New South Wales, Australia.
		</p>
		<p>
			Through the Academy of Interactive Entertainment's management
			program, Alex created &amp; released Planet Protector VR for virtual
			reality devices in 2017 as an early-access title. Work is
			periodically ongoing with various corporate partners to put the game
			into arcades, new headsets, and more distribution platforms.
		</p>
		<p>
			Alex's day-job as an educator keeps him busy - and keeps him
			learning! It's 2020 now, and BigfootDS can cover a wide range of
			projects with a wide range of skills. Check out the skills, tech
			&amp; tools we cover below:
		</p>
	</div>
</Layout>
