---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Contact BigfootDS"
	description="Learn about what BigfootDS is, how it started, who is involved, and more. BigfootDS is an Australian studio that - nowadays - does software development. But it wasn't always that way!"
	pubDate={new Date()}
	heroImage="/images/headers/AstroAboutHeader.png"
>
	BigfootDS (or Bigfoot Design Studios, and officially as BigfootDS PTY LTD)
	is an Australian-made multimedia studio.
	
	</div>
</Layout>
