---
import Layout from "../layouts/BlogPost.astro";
import aboutHeader from "../assets/images/headers/AstroAboutHeader.png";

---

<Layout
	title="Contact"
	description="Find BigfootDS on other social media platforms, as well as access some of their email addresses to contact BigfootDS directly."
	heroImage={aboutHeader.src}
	pubDate={new Date(Date.now())}
>
	Please use these email addresses for their appropriate purposes:

	<ul>

		<li>
			<a href="mailto:support@bigfootds.com">Support Enquiries</a>
		</li>

		<li>
			<a href="mailto:contact@bigfootds.com">Business Enquiries</a>
		</li>

	</ul>
	
	
</Layout>

