---
import Layout from "../layouts/BlogPost.astro";
import aboutHeader from "../assets/images/headers/AstroAboutHeader.png";

---

<Layout
	title="Projects"
	description="Learn about what BigfootDS has been building lately. This includes videogames, general software, and even tools or libraries or packages for other developers to use in their own projects."
	heroImage={aboutHeader.src}
>
	<p>Learn about what BigfootDS has been building lately. This includes videogames, general software, and even tools or libraries or packages for other developers to use in their own projects.</p>

	
	
</Layout>

